<!-- <div class="container-fluid mt-5 bg-dark p-5 text-center">
  <div class="row text-white">
    <div class="col-md-4 col-sm-12 col-12">
      <h3 class="text-center">HomeServices.com</h3>
      <p>&copy; All Right Reserved</p>
      <p>
        <a href="https://twitter.com/ParthPa65691458" class="btn text-white">
          <span class="fa fa-twitter"></span>
        </a>

        <a href="https://www.facebook.com/" class="btn text-white">
          <span class="fa fa-facebook"></span>
        </a>



        <a href="https://www.instagram.com/parthpatel5820/" class="btn text-white">
          <span class="fa fa-instagram"></span>
        </a>

        <a href="https://www.linkedin.com/in/parth-p-55834b15b/" class="btn text-white">
          <span class="fa fa-linkedin"></span>
        </a>
      </p>
    </div>
    <div class="col-md-4 col-sm-12 col-12">
      <h3>Navigation Link</h3>
      <ul class="list-group">
        <li class="list-group-item">
          Home
        </li>
        <li class="list-group-item">
          Contact Us
        </li>
        <li class="list-group-item">
          About Us
        </li>
        <li class="list-group-item">
          How It works
        </li>
      </ul>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-12 col-12">
      <div class="container">
        <h3>Get in Touch</h3>
        <div class="row">
<div class="col">
    <p>
        <i class="fa fa-phone" aria-hidden="true"></i>  &nbsp; &nbsp;
        <a href="tel:+91 9727257298"  class="text-white" style="text-decoration: none;">9727257298</a>
      </p>
</div>
<div class="col">
    <p>
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; &nbsp;
        <a href="mailto:parthp582000@.com" class="text-white"  style="text-decoration: none;">parthp582000@gmail.com</a>
    </p>
</div>
<div class="col">
    <p>
        <i class="fa fa-map" aria-hidden="true"></i>&nbsp; &nbsp;
        <span> 304, Aster, Blossom Aura Apartment
          College Road Nadiad,
          387001</span>
    </p>
</div>
        </div>

      <p>
        <i class="fa fa-phone" aria-hidden="true"></i>  &nbsp; 
        <a href="tel:+91 9727257298"  class="text-white" style="text-decoration: none;">9727257298</a>
      </p>
        <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; 
            <a href="mailto:parthp582000@.com" class="text-white"  style="text-decoration: none;">parthp582000@gmail.com</a>
        </p>
      <p>
          <i class="fa fa-map" aria-hidden="true"></i>&nbsp;
          <span> 304, Aster, Blossom Aura Apartment
            College Road Nadiad,
            387001</span>
      </p>

     <div class="row text-white">
          <div class="col-1 mb-1"><i class="fa fa-phone" aria-hidden="true"></i></div>
          <div class="col-11 mb-3"><a href="tel:+91 9727257298"  class="text-white" style="text-decoration: none;">9727257298</a></div>

          <div class="col-1 mb-1"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <div class="col-11 mb-3"><a href="mailto:parthp582000@.com" class="text-white"  style="text-decoration: none;">parthp582000@gmail.com</a></div>

          <div class="col-1 mb-1"> <i class="fa fa-map" aria-hidden="true"></i></div>
          <div class="col-11 mb-3"> 304, Aster, Blossom Aura Apartment<br>College Road Nadiad,
            387001</div>
        </div> 
    </div>
  </div>
  
</div> -->



<!-- Footer -->

<!-- <section>
    <div class="container p-3 text-center">
       
            <div class="row">
              <div class="col-md-3 col-sm-6 text-center">
                <span class="icon"><i class="icon-world"></i></span>
                <span class="fh5co-counter js-counter" data-from="0" data-to="3297" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Foreign Followers</span>
              </div>
              <div class="col-md-3 col-sm-6 text-center">
                <span class="icon"><i class="icon-study"></i></span>
                <span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Students Enrolled</span>
              </div>
              <div class="col-md-3 col-sm-6 text-center">
                <span class="icon"><i class="icon-bulb"></i></span>
                <span class="fh5co-counter js-counter" data-from="0" data-to="5034" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Classes Complete</span>
              </div>
             
            
        </div>
      </div>
</section> -->
<section id="footer" class="bg-dark">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-3 col-md-3">
					
					<ul class="list-unstyled quick-links">
            <h5><a href="https://www.HomeService.com/">HomeService.com</a></h5>
            <hr>  
            
          </ul>
          
                <ul class="list-unstyled list-inline social">
                  <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a><i class="fa fa-youtube-play"></i></a></li>
                  <li class="list-inline-item"><a><i class="fa fa-envelope"></i></a></li>
                </ul>
              	
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					
					<ul class="list-unstyled quick-links">
              <h5>Quick Links</h5>
              <hr>  
              <li><a routerLink="/">Home</a></li>
						<li><a routerLink="/contact-us" >Contact Us</a></li>
						<li><a routerLink="/about-us">About Us</a></li>
						<li><a routerLink="/how-it-works">How it Works</a></li>
						<li><a href="#ourservices">Our Services</a></li>
					</ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
					
            <ul class="list-unstyled quick-links">
                <h5>Cities</h5>
                <hr>  
                <li><a>Nadiad</a></li>
              <li><a>Anand</a></li>
              
            </ul>
          </div>
				<div class="col-xs-12 col-sm-3 col-md-3">
          <h5>Get in Touch</h5>
          <hr>    
					<ul class="list-unstyled quick-links text-white">
						<li><i class="fa fa-phone  text-white" aria-hidden="true"></i>  &nbsp;
              <a href="tel:+91 9727257298"  class="text-white" style="text-decoration: none;display: inline-block">9727257298</a></li>
						<li><i class="fa fa-envelope text-white" aria-hidden="true"></i>&nbsp; 
              <a href="mailto:parthp582000@.com" class="text-white"  style="text-decoration: none;display: inline-block">parthp582000@gmail.com</a></li>
						<li><i class="fa fa-map text-white" aria-hidden="true"> </i> &nbsp;<address  class="text-white"  style="text-decoration: none;display: inline-block">304, Aster, Blossom Aura Apartment Nadiad</address>
             
               </li>
				
					</ul>
				</div>
			</div>
		
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.HomeService.com/">HomeService.com</a></u></p>
					<p class="h6">&copy; All right Reversed.</p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->