<section id="aboutUs" class="bg-light">

  <div class="container-fluid pt-3">
    <h1 class="text-center text-capitalize pt-5" data-aos="flip-down" data-aos-easing="ease-in-sine">About Us</h1>
    <hr class="w-25 mx-auto">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 text-center" data-aos="fade-right" data-aos-delay="100"
        data-aos-easing="ease-in-sine">
        <h1>Who Are We?</h1>
        <hr class="w-25 mx-auto">
        <p class="p-3">
           We are a mobile marketplace for local services. We help
          customers hire trusted professionals for all their service needs. We are staffed with young, passionate people
          working tirelessly to make a difference in the lives of people by catering to their service needs at their
          doorsteps. We provide housekeeping services which consist of Plumbers, Electricians, Carpenters, Cleaning and
          Pest Control. We also provide personal services like beauty,mobile and other appliance repairs etc. Be
          it getting a plumbing job done, improving your fitness through yoga, learning to play the guitar, decorating
          your home or getting candid photos of your wedding clicked, we are a sure shot destination for your service
          needs.</p>

        <button class="btn bg-primary text-white mb-4">Join Us</button>

      </div>
      <div class="col-lg-6 col-md-6 col-12 col-center" data-aos="fade-left" data-aos-delay="100"
        data-aos-easing="ease-in-sine">


        <!-- <img src="images/homeslider2.jpg" class="img-fluid"> -->
        <!--  -->
        <h1 class="text-center">Testimonials</h1>
        <hr class="w-25 mx-auto">
        <div id="demo1" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner text-center">
            <div class="carousel-item active">
              <div class="person">
                <!-- <p class="text-center">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live
                  the blind
                  texts.</p> -->
                <div class="img-box">
                  <img src="../../../assets/images/antonika-chanel-RJCslxmvBcs-unsplash.jpg" alt="Image"
                    class="img-fluid">
                </div>
                <h3>Akshay Patel</h3>
                <p class="position">Developer</p>

              </div>
            </div>
            <div class="carousel-item">
              <div class="person">
                <!-- <p class="text-center">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live
                  the blind
                  texts.</p> -->
                <div class="img-box">

                  <img src="../../../assets/images/parth.jpg" alt="Image" class="img-fluid">
                </div>
                <h3>Parth Patel</h3>
                <p class="position">Developer</p>

              </div>
            </div>

          </div>

          <a class="carousel-control-prev " href="#demo1" data-slide="prev">
            <span class="carousel-control-prev-icon" area-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#demo1" data-slide="next">
            <span class="carousel-control-next-icon" area-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>


    </div>

  </div>




</section>
<!-- About us end -->