<section class="bg-light pb-5">
    
      
                <div class="container pt-3">
                        <h1 class="text-center text-capitalize pt-5" data-aos="flip-down" 
                          data-aos-easing="ease-in-sine">How It Works</h1>
                        <hr class="w-25 mx-auto">     
               
 
    <ul class="list-group text-center"data-aos="fade-top" data-aos-delay="100" data-aos-easing="ease-in-sine">
        <li class="list-group-item">
            <div>
                <div>
                    <div>
                    </div><img class="mr-5"
                        src="https://res.cloudinary.com/urbanclap/image/upload/categories/category_v2/category_bf6773f0.png"
                        alt="" itemscope="" itemprop="image">
                </div>
            </div>
            <div>
                <h4>Choose the Service</h4>
                <p>We provide Repairs, Installations & Servicing. Choose your time-slot</p>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <div>
                    <div>
                    </div><img class="mr-5"
                        src="https://img.icons8.com/android/48/000000/checked-user-male.png"
                        alt="" itemscope="" itemprop="image">
                </div>
            </div>
            <div>
                <h4>Send Request to the Proffessional</h4>
                <p>You can choose based on Rating and work experience.</p>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <div>
                    <div>
                    </div><img class=" mr-5"
                        src="https://img.icons8.com/ios-filled/50/000000/overtime.png"
                        alt="" itemscope="" itemprop="image">
                </div>
            </div>
            <div>
                <h4>Choose your Date And Time Slot</h4>
                <p>We service from 9 AM - 9 PM</p>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <div>
                    <div>
                    </div><img class="mr-5"
                        src="https://img.icons8.com/ios-glyphs/50/000000/filled-chat.png"
                        alt="" itemscope="" itemprop="image">
                </div>
            </div>
            <div>
                <h4>Wait For the Respond and Chat With the Professional.</h4>
                <p> Finalise the quotes and hire.</p>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <div>
                    <div>
                    </div><img class="mr-5"
                        src="https://img.icons8.com/ios-glyphs/60/000000/task-completed.png"
                        alt="" itemscope="" itemprop="image">
                </div>
            </div>
            <div>
                <h4>Hassle-free service</h4>
                <p> Our professional will come at your place and get the job done.</p>
            </div>
        </li>
    </ul>
    </div>
</section>