
.carousel {
	
	padding: 0 42px;
}

/*
.carousel .item {
	color: #747d89;
    text-align: center;
	overflow: hidden;
}

.carousel .item .img-box {
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
} */

.card-img-top{
	z-index: 10 !important;
	background:rgba(0, 0, 0, 0.04);
}
.carousel .carousel-control {
	height: 30px;
	width: 30px;
	background: #445361;	
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
	margin-left: 10px;
	margin-right: 10px;
}
.carousel .carousel-control:hover {
	background: #456d88;
	opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}

.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
} 


.desc a{
	color: black !important;
}