<section id="orders" class="bg-light mt-5">
        <div class="container-fluid pt-4" id="main">
            <h1 class="text-center text-capitalize ">My Orders</h1>
            <hr class="w-25 mx-auto  pt-3">
<div *ngIf="myorders.length>0; else elseBlock">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12" *ngFor="let o of myorders">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div style="display:inline-block;">
                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                            class="img img-rounded img-fluid" style="width: 80px;" />
                                        <p class="text-secondary text-center mt-1 mb-0">{{o.Request_datetime|date:'mediumDate'}}</p>
                                        <p class="text-secondary text-center">{{o.Request_datetime|date:'shortTime'}}</p>
                                    </div>

                                </div>
                                <div class="col-lg-9">
                                    <p>
                                        <span class="h3"><strong>{{o.Professional.FirstName}}&nbsp;{{o.Professional.LastName}}</strong></span><span class="text-muted">&nbsp;&nbsp;-{{o.Professional.Service}}</span>

                                    </p>
                                    <div class="clearfix"></div>

                                    <!-- <h6 class="card-text text-dark">9191349874</h6> -->
                                    <h6>Address-</h6>
                                    <p class="card-text">{{o.Address}}</p>
                                    <h6>Description-<br></h6>
                                    <h5 class="card-title">{{o.Description}}</h5>

                                    <h5 class="datetime"><span class=" float-center badge badge-warning"> Budget - {{o.Budget|currency:'INR'}}</span></h5>
                            
                                    <h5 *ngIf="o.Estimate>0"><span class="float-center  badge badge-primary">Estimation-  {{o.Estimate}}</span></h5>

    

                                        <span class=" float-center btn text-white btn-warning mr-1"> <i class="fa fa-clock-o"></i>
                                           {{o.Time|date:'shortTime'}}</span>
                                        <span class="float-center  btn btn-info mr-1"> <i class="fa fa-calendar"></i>
                                            {{o.Date|date:'mediumDate'}}</span>
                                      
                                            <span class="float-center  btn btn-primary mr-1"> 
                                                {{o.Status}}</span>
                                            <span *ngIf="o.Status=='Requested'" class="float-center  btn btn-success" (click)="openchat(o._id)"><i class="far fa-comments"></i> Chat</span>
                                       
                                    <!-- <a class="float-right btn btn-success text-white"><strong>Done!</strong> </a> -->

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

               


            </div>
        </div>
        <ng-template #elseBlock>
                <div class="text-center pb-5">
                    <h5>No Order Record Available</h5>
                </div>
            </ng-template>
        
        </div>
    </section>